@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cosmic-navy text-cosmic-silver font-sans;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0F1F;
}

::-webkit-scrollbar-thumb {
  background: #1479FF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06D7F4;
}
